<%- include('../admin/adminHeader')%>

    <!DOCTYPE html>
    <html>

    <head>
        <title>Edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
            body {
                background-color: #0080ff;
            }

            .product {

                color: rgb(0, 255, 110) !important;
            }

            .signup-form {
                background-color: #fff;
                border-radius: 10px;
                padding: 20px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .signup-form h2 {
                color: #333;
                margin-bottom: 30px;
                text-align: center;
            }

            .form-group {
                margin-bottom: 10px;
            }

            .form-group label {
                font-weight: 600;
                margin-bottom: 10px;
                display: block;
            }

            .form-control {
                border-radius: 4px;
                padding: 6px;
                border: 1px solid #ccc;
            }

            .btn {
                border-radius: 4px;
                padding: 10px 20px;
                background-color: #333;
                color: #fff;
                border: none;
                font-weight: 600;
                margin-top: 20px;
                cursor: pointer;
            }

            .btn:hover {
                background-color: #555;
            }

            /* @media (max-width: 768px) {
			.signup-form {
				margin-top: 20px;
				padding: 20px;
			}
		} */
        </style>
    </head>

    <body>
        <div class="container">
            <div class="m-5">
                <div class="row">
                    <a href="/admin/productlist" style="color: white ; margin-top: 1rem;">Back</a>
                    <div class="col-md-6 offset-md-3">
                        <form class="signup-form" action="/admin/updatebook" method="post" enctype="multipart/form-data"
                            id="form">
                            <h2>Edit Book</h2>
                            <p style="color: crimson;">make changes inside the field and update it</p>

                            <div class="form-group">
                                <label for="firstname">Name of Book</label>
                                <input type="text" class="form-control" id="name" name="name" 
                                    value="<%= products.name %>">
                                <a id="name-error" style="color: red; font-size: small;"></a>

                            </div>
                            <div class="form-group">
                                <label for="lastnamename">Author</label>
                                <input type="text" class="form-control" id="aname" name="author" 
                                    value="<%= products.author %>">
                                <a id="aname-error" style="color: red; font-size: small;"></a>

                            </div>
                            <div class="form-group">
                                <label for="page">Pages</label>
                                <input type="text" class="form-control" id="page" name="pages" 
                                    value="<%= products.pages %>">
                                <a id="page-error" style="color: red; font-size: small;"></a>

                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" id="category" name="category">
                                    <option>
                                        <%= products.category %>
                                    </option>
                                    <% if (category.length> 0) {
                                        for(let i=0; i<category.length; i++) { %>

                                            <option>
                                                <%= category[i].name %>
                                            </option>
                                            <% } } %>
                                </select>
                                <a id="cat-error" style="color: red; font-size: small;"></a>
                            </div>
                            <div class="form-group">
                                <label for="Language">Language</label>
                                <select class="form-control" id="category" name="language">
                                    <option>
                                        Malayalam
                                    </option>
                                    <option>
                                        English
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="desc">Description</label>
                                <input type="text" class="form-control" id="desc" name="description" 
                                    value="<%= products.description %>">
                                <a id="desc-error" style="color: red; font-size: small;"></a>

                            </div>
                            <div class="form-group">
                                <label for="pr">Price</label>
                                <input type="text" class="form-control" id="price" name="price" 
                                    value="<%= products.price %>">
                                <a id="price-error" style="color: red; font-size: small;"></a>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="pr" name="id"  hidden
                                    value="<%= products._id %>">
                            </div>
                            <div class="form-group">
                                <label for="stk">Stock</label>
                                <input type="text" class="form-control" id="stock" name="stock" 
                                    value="<%= products.stock %>">
                                <a id="stock-error" style="color: red; font-size: small;"></a>
                            </div>
                            <div>
                                <%for(let i=0; i<products.image.length; i++) { %>
                                    <img class="imagepreview" src="/public/productImages/<%=products.image[i] %>"
                                        alt="image">
                                    <% } %>
                                        <a id="cover-error" style="color: red; font-size: small;"></a>

                            </div>

                            <div class="form-group">
                                <label for="cover">Cover page</label>
                                <input type="file" class="form-control-file" id="cover" name="image" multiple
                                    onchange="editimageView(event)">
                            </div>


                            <button type="submit" class="btn btn-block" id="edit">Update</button>
                            <div>
                                <% if(typeof message !=='undefined' ) {%>
                                    <p style="color: rgb(255, 123, 0); font-weight: bold;">
                                        <%=message%>
                                    </p>
                                    <%} %>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function editimageView(event) {
            const preview = document.getElementsByClassName('imagepreview')
            for (let i = 0; i < event.target.files.length; i++) {
                const file = event.target.files[i]
                const reader = new FileReader()

                reader.onload = function (e) {
                    preview[i].src = e.target.result

                }
                reader.readAsDataURL(file)
            }

        }
    </script>



    <script>
        const bname = document.getElementById('name')
        const aname = document.getElementById('aname')
        const page = document.getElementById('page')
        const category = document.getElementById('category')
        const desc = document.getElementById('desc')
        const price = document.getElementById('price')
        const stock = document.getElementById('stock')
        const cover = document.getElementById('cover')

        const covererror = document.getElementById('cover-error')
        const nameerror = document.getElementById('name-error')
        const anameerror = document.getElementById('aname-error')
        const pageerror = document.getElementById('page-error')
        const caterror = document.getElementById('cat-error')
        const descerror = document.getElementById('desc-error')
        const priceerror = document.getElementById('price-error')
        const stockerror = document.getElementById('stock-error')


        // Function to validate first name
        function validateName() {
            let name_message = []

            if (bname.value === '' || bname.value === null) {
                name_message.push('Book name is Mandatory!')
            }
            if (name_message.length > 0) {
                nameerror.innerText = name_message.join(',')
            } else {
                nameerror.innerText = ''
            }
        }

        // Function to validate username
        function validateAuthorname() {
            let aname_message = []
            if (aname.value === '' || aname.value === null || aname.value.length < 3) {
                aname_message.push('Minimum length of author name required is 3')
            }
            if (aname_message.length > 0) {
                anameerror.innerText = aname_message.join(',')
            } else {
                anameerror.innerText = ''
            }
        }

        function validatePage() {
            let page_message = []
            let pageVal = page.value
            if (page.value === '' || page.value === null) {
                page_message.push('Page number is mandatory')
            } else if (isNaN(pageVal)) {
                page_message.push('Page number should be a number')
            }
            if (page_message.length > 0) {
                pageerror.innerText = page_message.join(',')
            } else {
                pageerror.innerText = ''
            }
        }

        function validateDesc() {
            let desc_message = []
            if (desc.value === '' || desc.value === null) {
                desc_message.push('Description is mandatory')
            } else if (desc.value.length < 10) {
                desc_message.push('Description should be minimum 10 words')
            }
            if (desc_message.length > 0) {
                descerror.innerText = desc_message.join(',')
            } else {
                descerror.innerText = ''
            }
        }

        function validatePrice() {
            let price_message = []
            if (price.value === '' || price.value === null) {
                price_message.push('Price is mandatory')
            } else if (isNaN(price.value)) {
                price_message.push('Price should be a number')
            }
            if (price_message.length > 0) {
                priceerror.innerText = price_message.join(',')
            } else {
                priceerror.innerText = ''
            }
        }

        function validateStock() {
            let stock_message = []
            if (stock.value === '' || stock.value === null) {
                stock_message.push('Stock is mandatory')
            } else if (isNaN(stock.value)) {
                stock_message.push('Stock should be a number')
            }
            if (stock_message.length > 0) {
                stockerror.innerText = stock_message.join(',')
            } else {
                stockerror.innerText = ''
            }
        }

        // Add keyup event listeners to the form fields
        bname.addEventListener('keyup', validateName);
        aname.addEventListener('keyup', validateAuthorname);
        page.addEventListener('keyup', validatePage);
        desc.addEventListener('keyup', validateDesc);
        price.addEventListener('keyup', validatePrice);
        stock.addEventListener('keyup', validateStock);


        function handleSubmit(event) {
            // Prevent the form from submitting

            // Call the validation functions
            validateName();
            validateAuthorname();
            validatePage();
            validateDesc();
            validatePrice();
            validateStock();


            // Check if any errors exist
            if (
                nameerror.innerText === '' &&
                anameerror.innerText === '' &&
                pageerror.innerText === '' &&
                descerror.innerText === '' &&
                priceerror.innerText === '' &&
                stockerror.innerText === '' 
            ) {
                // All validations passed, allow form submission
                event.target.submit();
                function3()
            } else {
                event.preventDefault();
            }
        }
        // Add submit event listener to the form
        const form = document.querySelector('form');
        form.addEventListener('submit', handleSubmit);


    </script>

    <script language="JavaScript">
        function function3() {
            Swal.fire({
                title: 'Success!',
                text: 'Book updated successfully!',
                icon: 'success',
                showConfirmButton: false, // Hide the "OK" button
            });
        }
    </script>

    </html>