<%- include('../admin/adminHeader')%>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/public/css/productlist.css">
    </head>

    <body>
        <div class="container">
            <div class="mt-5">

                <div class="form-inline my-2 my-lg-0 d-flex justify-content-end container-fluid">
                    <a href="/admin/addbook"><button type="button" class="btn btn-primary mt-3 mb-3 ml-3">Add
                            Books</button></a>
                </div>
                <table class="table table-hover" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 30px;">#</th>
                            <th scope="col" style="width: 100px;">Name of Book</th>
                            <th scope="col" style="width: 100px;">Author</th>
                            <th scope="col" style="width: 100px;">In Stock(Nos.)</th>
                            <th scope="col" style="width: 100px;">Price(in Rs.)</th>
                            <th scope="col" style="width: 100px;">Image</th>
                            <th scope="col" style="width: 100px;">Update</th>
                            <th scope="col" style="width: 100px;">Delete</th>
                    <tbody>
                        <% if (products.length> 0) {
                            let k=1
                            for (let i = products.length - 1; i >= 0; i--) { %>

                            <tr>
                                <th scope="row">
                                    <%= k %>
                                </th>
                                <td>
                                    <%= products[i].name %>
                                </td>
                                <td>
                                    <%= products[i].author %>
                                </td>
                                <td>
                                    <%= products[i].stock %>
                                </td>
                                <td>
                                    <%= products[i].price %>
                                </td>
                                <td><img src="/productImages/<%= products[i].image[0] %>"
                                        style="width: 80px; height: 90px;" alt="<%= products[i].image[0] %>"></td>


                                <td><a href="/admin/editbook?id=<%= products[i]._id %>"><button
                                            class="btn btn-info block">Edit</button></a></td>
                                <td>
                                    <a><button class="btn btn-danger ublock"
                                            onclick="deleteBook('<%= products[i]._id %>')">Delete</button></a>
                                </td>

                            </tr>
                            <% k++} } else { %>
                                <div>
                                    <h3 style="color: red;">No book Found</h3>
                                </div>
                                <% } %>

                    </tbody>
                </table>

            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('#productsTable').DataTable();
        });
        function deleteBook(bookId) {
            Swal.fire({
                title: 'Are you sure to delete this book?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Book has been deleted.',
                        'success'
                    ).then(() => {
                        window.location.href = '/deletewishlist/' + bookId;
                    });
                }
            });
        }
    </script>