<%- include('../user/newhead')%>

    <head>
        <title>My Orders</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>
            .pagesb {
                color: rgb(28, 188, 0) !important;
            }
        </style>
    </head>
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order History</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/showcart">My cart<span class="fa fa-arrow-right"></span></a>
                        <a href="/myOrders">My orders</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <head>
        <title>My Orders</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>

    <body>

        <% if(status==='Delivered' ) { %>
            <div style="margin-left: 12rem ;margin-top: 3rem;margin-bottom : 3rem;">
                <p>
                    Book delivered
                </p>
                <p id="date">
                    <%= formattedDate %>
                </p>
                <button class="btn btn-info" onclick="invoiceGenerate()">invoice</button>
            </div>
            <%}%>
                <section>

                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-10">
                                <div class="d-flex justify-content-center align-items-center"
                                    style="color:rgb(34, 14, 54)">
                                    <h3 class="fw-normal mb-0 text-black">
                                        <%= %>
                                    </h3>
                                </div>
                                <% if (productDetails.length> 0) {
                                    for (let i = 0; i < productDetails.length; i++) { %>
                                        <div class="card-body p-4" style="border : 1px solid black">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img style="width:auto;height:auto"
                                                        src="/public/productImages/<%= productDetails[i].image %>"
                                                        class="img-fluid rounded-3" alt="book">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <p class="lead fw-normal mb-2">
                                                        <%= productDetails[i].productname %>
                                                    </p>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2">
                                                    <p class="lead fw-normal mb-2">Quantity: <%=
                                                            productDetails[i].quantity %>
                                                    </p>
                                                </div>
                                                <% if(status==='Cancelled' ) { %>

                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <p>
                                                            <%= status %>
                                                        </p>
                                                        <%}%>

                                                    </div>
                                            </div>
                                            <% } } else { %>
                                                <div class=" card rounded-3 mb-4">
                                                    <div class="card-body p-4">
                                                        <p>No orders found.</p>
                                                    </div>
                                                </div>
                                                <% } %>
                                        </div>
                            </div>
                        </div>
                </section>

                <div style="margin-bottom: 2rem;margin-top: 2rem; " class=" d-flex justify-content-center">
                    <% if(status==='Delivered' && daysDiff<7 && status!=='Return requested' && status!=='Returned' ){ %>
                        <a href="/returnOrder?id=<%= orderId %>"><button onclick="returnOrder()"
                                class="btn btn-dark block " style="height: 34px !important;">Return
                                Item/s</button></a>
                        <% } %>
                </div>
                </script>
                <script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                    crossorigin="anonymous"></script>
                <script src="/public/js/jquery.ajaxchimp.min.js"></script>
                <script src="/public/js/jquery.nice-select.min.js"></script>
                <script src="/public/js/jquery.sticky.js"></script>
                <script src="/public/js/nouislider.min.js"></script>
                <script src="/public/js/jquery.magnific-popup.min.js"></script>
                <script src="/public/js/owl.carousel.min.js"></script>
                <script src="/public/js/main.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script src="/public/js/passwordhide.js"></script>
                <%- include('../user/footer')%>
                    <script>
                        function deleteOrder(id) {
                            Swal.fire({
                                title: 'Are you sure to cancel this order?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, cancel!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Swal.fire(
                                        'cancelled!',
                                        'Order has been cancelled.',
                                        'success'
                                    ).then(() => {
                                        window.location.href = "/cancelOrder?id=" + id
                                    });
                                }
                            });
                        }
                    </script>
                    <script>
                        function returnOrder(id) {
                            Swal.fire({
                                title: 'Are you sure to return this order?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, cancel!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Swal.fire(
                                        'cancelled!',
                                        'Order has been cancelled.',
                                        'success'
                                    ).then(() => {
                                        window.location.href = "/cancelOrder?id=" + id
                                    });
                                }
                            });
                        }
                    </script>
                    <script>

                        function invoiceGenerate() {

                            var invoiceDate = document.getElementById('date').innerText
                            var products = JSON.parse(decodeURIComponent('<%- decodeURIComponent(array) %>'))
                            var orders = JSON.parse(decodeURIComponent('<%- decodeURIComponent(ordersD) %>'))
                            let invoiceProducts = [];
                            for (let i = 0; i < products.length; ++i) {
                                invoiceProducts.push({
                                    quantity: products[i].quantity,
                                    description: products[i].productname,
                                    "tax-rate": 0.00,
                                    price: products[i].price,
                                })
                            }
                            var data = {
                                // Customize enables you to provide your own templates
                                // Please review the documentation for instructions and examples
                                "customize": {
                                    //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
                                },
                                "images": {
                                    // The logo on top of your invoice
                                    "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
                                    // The invoice background
                                    "background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
                                },
                                // Your own data
                                "sender": {
                                    "company": "Booky.com",
                                    "address": "Wayanad",
                                    "zip": "670721",
                                    "city": "Kalpetta",
                                    "country": "India"

                                },
                                // Your recipient
                                "client": {
                                    "company": orders.name,
                                    "address": orders.address,
                                    "zip": orders.zipcode,
                                    "city": orders.city,
                                    "country": orders.state

                                },
                                "information": {
                                    // Invoice number
                                    "number": orders.id,
                                    // Invoice data
                                    "date": invoiceDate,
                                    // "due-date": ""

                                },

                                "products": invoiceProducts,
                                // The message you would like to display on the bottom of your invoice
                                "bottom-notice": "Thanks for purchasing from us..",
                                // Settings to customize your invoice
                                "settings": {
                                    "currency": "INR",
                                },
                                // Translate your invoice to your preferred language
                                "translate": {
                                },
                            };

                            //Create your invoice! Easy!
                            easyinvoice.createInvoice(data, function (result) {
                                //The response will contain a base64 encoded PDF file
                                console.log('PDF base64 string: ', result.pdf);
                                easyinvoice.download('invoice.pdf')
                            });
                        }

                    </script>
                    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
                    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

    </body>

    </html>