<%- include('../user/newhead')%>
    <%- include('../user/loader')%>


        <head>
            <title>My Orders</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css">

            <style>
                .pagesb {
                    color: rgb(28, 188, 0) !important;
                }

                div.dataTables_wrapper div.dataTables_filter input {
                    padding: 10px !important;
                    border: 1px solid #ccc !important;
                    border-radius: 5px !important;
                    font-size: 16px !important;
                    box-shadow: 0 2px 5px rgba(1, 0, 0, 0.1) !important;
                    width: 200px !important;
                }

                .dataTables_paginate {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }

                .paginate_button {
                    display: inline-block;
                    margin: 0 5px;
                    padding: 8px 12px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: #f5f5f5;
                    color: #333;
                    font-size: 14px;
                    text-decoration: none;
                    cursor: pointer;
                }

                .paginate_button:hover {
                    background-color: #e0e0e0;
                }

                .paginate_button.active {
                    background-color: #333;
                    color: #fff;
                }

                .paginate_button.disabled {
                    cursor: not-allowed;
                    opacity: 0.5;

                }

                .image-container {
                    position: relative;
                    width: 8rem;
                    height: 10rem;
                    overflow: hidden;
                    border-radius: 3px;
                }

                .image-container img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: blur(1px);
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
                    opacity: 10;
                    /* transition: opacity 0.3s ease; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .overlay:hover {
                    opacity: 1;
                }

                .overlay-content {
                    color: #fff;
                    font-size: 0.8rem;
                    font-weight: lighter;
                }
            </style>
        </head>
        <section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>My orders</h1>
                        <nav class="d-flex align-items-center">
                            <a href="/home">Home<span class="fa fa-arrow-right"></span></a>
                            <a href="/cart">Cart</a>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <body>
            <section>
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-10">
                            <table class="table table-striped" id="orderTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Order Number</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Order Total</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Date and time</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orders.length> 0) {
                                        let k=1
                                        for (let i = orders.length - 1; i >= 0; i--) { %>
                                        <tr>
                                            <th scope="row">
                                                <%=k%>
                                            </th>
                                            <td>
                                                <%= orders[i].id %>
                                            </td>
                                            <td>
                                                <%= orders[i].products.length %>
                                            </td>
                                            <td>
                                                <%= orders[i].total %>
                                            </td>
                                            <td>
                                                <%= orders[i].date %>
                                            </td>
                                            <td>
                                                <%= orders[i].status %>
                                            </td>
                                            <td>
                                                <div class="image-container">
                                                    <a href="/myOrders?id=<%= orders[i].id %>">
                                                        <img src="/public/productImages/<%= orders[i].products[0].image %>"
                                                            alt="Order Image">
                                                        <div class="overlay">
                                                            <div class="overlay-content">
                                                                More..
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% k++} } else { %>
                                            <div class="card rounded-3 mb-4">
                                                <div class="card-body p-4">
                                                    <p>No orders found.</p>
                                                </div>
                                            </div>
                                            <% } %>
                            </table>

                        </div>
                    </div>
                </div>

                </div>
                </div>
                </div>
            </section>
        </body>
        </script>
        <script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <!-- <script src="/public/js/vendor/bootstrap.min.js"></script> -->
        <script src="/public/js/jquery.ajaxchimp.min.js"></script>
        <script src="/public/js/jquery.nice-select.min.js"></script>
        <script src="/public/js/jquery.sticky.js"></script>
        <script src="/public/js/nouislider.min.js"></script>
        <script src="/public/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/js/owl.carousel.min.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script> -->
        <!-- <script src="/public/js/gmaps.min.js"></script> -->
        <script src="/public/js/main.js"></script>
        <script src="/public/js/passwordhide.js"></script>
        <script>
            $(function () {
                $('#orderTable').DataTable({
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5 // Set the default page length to 5;
                })
            });
        </script>
        <%- include('../user/footer')%>

            </html>