<%- include('../user/newhead')%>

	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Checkout</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="fa fa-arrow-right"></span></a>
						<a href="/profile">Profile</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<head>
		<style>
			.profileb {
				color: rgb(255, 185, 55) !important;
			}

			.btn-block {
				/* display: block; */
				width: max-content !important;
				/* padding-right: 39px; */
				margin-left: 3px !important;
				margin-top: 4px !important;
			}
		</style>
		<title>User Signup</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	</head>

	<body>
		<div class="d-flex mb-3">
			<div class="container mt-3">

				<div class="row">

					<div class="col-md-12 ">

						<form class="signup-form" action="/updateprofile" method="post" id="form">


							<img src="/public/userImages/<%=user.image%>" alt="propic"
								style="width : 10rem ; height: 10rem; border: black, 2px;">

							<h2 style="color: rgb(28, 77, 28);">USER PROFILE</h2>
							<div class="form-group">
								<label class="label" for="firstname">First Name <a style="color: red;">*</a></label>
								<input type="text" class="form-control" id="fname" name="firstname"
									value="<%= user.firstname %>">
								<a id="fname-error" style="color: red; font-size: small;"></a>

							</div>
							<div class="form-group">
								<label class="label" for="lastnamename">Last Name</label>
								<input type="text" class="form-control" id="lname" name="lastname"
									value="<%= user.lastname %>">
							</div>
							<div class="form-group" hidden>
								<label class="label" for="lastnamename">Last Name</label>
								<input type="text" class="form-control" id="lname" name="id" value="<%= user._id %>">
							</div>
							<div class="form-group">
								<label class="label" for="username">Username <a style="color: red;">*</a></label>
								<input type="text" class="form-control" id="username" name="username"
									value="<%= user.username %>">
								<a id="username-error" style="color: red; font-size: small;"></a>

							</div>
							<div class="d-flex justify-content-center">
								<button type="submit" id="submit" class="btn btn-block"><i class="fas fa-user"></i>
									Update</button>
							</div>
					</div>
				</div>

				<% if(typeof message !=='undefined' ) {%>
					<p style="color: rgb(255, 0, 0);">
						<%=message%>
					</p>
					<%} %>
						</form>
			</div>
			<div class="container">
				<div class="">
					<div class="col-md-6">
						<div class="updatebuttons d-flex" method="" id="form">
							<div class="d-flex justify-content-center">
								<a href="/adress?id=<%= user._id %>"><button type="submit" id="submit"
										class="updatebtn btn-block btn-danger"><i class="fas fa-address-book"></i>
										Add adress</button></a>
							</div>
							<div class="d-flex justify-content-center">
								<a href="/changepwd"><button type="submit" id="submit"
										class="updatebtn btn-block btn-danger "><i class="fas fa-lock"></i>
										Change password</button></a>
							</div>
							<div class="d-flex justify-content-center">
								<a href="/adress"><button type="submit" id="submit"
										class="updatebtn btn-block btn-danger"><i class="fas fa-file-image"></i>
										Update image</button></a>
							</div>
							<div class="d-flex justify-content-center">
								<a href="/orderlist"><button type="submit" id="submit"
										class="updatebtn btn-block btn-danger"><i class="fas fa-shopping-cart"></i>
										View ordes</button></a>
							</div>
							<div class="d-flex justify-content-center">
								<a href="/logout"><button type="" id="submit" class="updatebtn btn-block btn-danger"><i
											class="fas fa-user"></i>
										Sign out</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script>
			function previewImage(event) {
				var reader = new FileReader();
				reader.onload = function () {
					var imagePreview = document.getElementById('image-preview');
					imagePreview.src = reader.result;
				}
				reader.readAsDataURL(event.target.files[0]);
			}
		</script>
		<script>
			const fname = document.getElementById('fname')
			const email = document.getElementById('email')
			const username = document.getElementById('username')
			const password = document.getElementById('password')
			const cpassword = document.getElementById('confirm-password')
			const cover = document.getElementById('cover')
			const fnameerror = document.getElementById('fname-error')
			const emailerror = document.getElementById('email-error')
			const usernameerror = document.getElementById('username-error')
			const passworderror = document.getElementById('password-error')
			const cpassworderror = document.getElementById('cpassword-error')
			const covererror = document.getElementById('cover-error')

			// Function to validate first name
			function validateFirstName() {
				let fname_message = []

				if (fname.value === '' || fname.value === null || fname.value.length < 3) {
					fname_message.push('Minimum length of firstname required is 3')
				}
				if (fname_message.length > 0) {
					fnameerror.innerText = fname_message.join(',')
				} else {
					fnameerror.innerText = ''
				}
			}

			// Function to validate username
			function validateUsername() {
				let uname_message = []
				if (username.value === '' || username.value === null || username.value.length < 5) {
					uname_message.push('Minimum length of username required is 5')
				}
				if (uname_message.length > 0) {
					usernameerror.innerText = uname_message.join(',')
				} else {
					usernameerror.innerText = ''
				}
			}

			// Function to validate password
			function validatePassword() {
				let password_message = []
				if (password.value === '' || password.value === null || password.value.length < 8) {
					password_message.push('Minimum length of password required is 8')
				} else if (!/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/.test(password.value)) {
					password_message.push('Password must contain at least one letter and one number');
				}
				if (password_message.length > 0) {
					passworderror.innerText = password_message.join(',')
				} else {
					passworderror.innerText = ''
				}
			}

			// Function to validate confirm password
			function validateConfirmPassword() {
				let cpassword_message = []
				if (cpassword.value !== password.value || cpassword.value === '') {
					cpassword_message.push('Password Missmatch')
				}
				if (cpassword_message.length > 0) {
					cpassworderror.innerText = cpassword_message.join(',')
				} else {
					cpassworderror.innerText = ''
				}
			}

			// Function to validate email
			function validateEmail() {
				let email_message = []
				if (email.value === '' || email.value === null) {
					email_message.push('Email is required');
				} else if (!/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/.test(email.value)) {
					email_message.push('Invalid email address');
				}
				if (email_message.length > 0) {
					emailerror.innerText = email_message.join(',')
				} else {
					emailerror.innerText = ''
				}
			}

			// Function to validate cover image
			function validateCover() {
				const allowedExtensions = ['jpg', 'jpeg'];
				const file_message = [];

				if (cover.value === '' || cover.value === null) {
					file_message.push('Image is required');
				} else {
					const fileName = cover.value;
					const fileExtension = fileName.split('.').pop().toLowerCase();

					if (!allowedExtensions.includes(fileExtension)) {
						file_message.push('Invalid file type. Only JPG and JPEG files are allowed');
					}
				}

				if (file_message.length > 0) {
					covererror.innerText = file_message.join(', ');
				} else {
					covererror.innerText = '';
				}
			}

			// Add keyup event listeners to the form fields
			fname.addEventListener('keyup', validateFirstName);
			username.addEventListener('keyup', validateUsername);
			password.addEventListener('keyup', validatePassword);
			cpassword.addEventListener('keyup', validateConfirmPassword);
			email.addEventListener('keyup', validateEmail);
			cover.addEventListener('keyup', validateCover);

			function handleSubmit(event) {
				// Prevent the form from submitting

				// Call the validation functions
				validateFirstName();
				validateUsername();
				validatePassword();
				validateConfirmPassword();
				validateEmail();
				validateCover();

				// Check if any errors exist
				if (
					fnameerror.innerText === '' &&
					usernameerror.innerText === '' &&
					passworderror.innerText === '' &&
					cpassworderror.innerText === '' &&
					emailerror.innerText === '' &&
					covererror.innerText === ''
				) {
					// All validations passed, allow form submission
					event.target.submit();
				} else {
					event.preventDefault();
				}
			}

			// Add submit event listener to the form
			const form = document.querySelector('form');
			form.addEventListener('submit', handleSubmit);
		</script>
		<script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script src="/public/js/vendor/bootstrap.min.js"></script>
		<script src="/public/js/jquery.ajaxchimp.min.js"></script>
		<script src="/public/js/jquery.nice-select.min.js"></script>
		<script src="/public/js/jquery.sticky.js"></script>
		<script src="/public/js/nouislider.min.js"></script>
		<script src="/public/js/jquery.magnific-popup.min.js"></script>
		<script src="/public/js/owl.carousel.min.js"></script>
		<!--gmaps Js-->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
		<script src="/public/js/gmaps.min.js"></script>
		<script src="/public/js/main.js"></script>
		<script src="/public/js/passwordhide.js"></script>
		<%- include('../user/footer')%>

	</body>